{% load static %}
{% load bootstrap5 %}
{% load bootstrap_themes %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}{% endblock %}
        </title>
       
        {% bootstrap_css %}
        {# bootstrap_styles theme='cyborg' type='min.css' #}
        <link rel="shortcut icon" type="image/png" href="{% static 'elections24/images/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'elections24/starter.css' %}" />
        {% block page_stylesheets %}{% endblock %}
    </head>
    <body>
        {% bootstrap_messages %}

        {# Banner #}
        <div class="container banner">
            <a href="{% url 'index' %}">
                <div class="row">
                    <div class="col-md-1">
                        <img id="votex" src="{% static 'elections24/images/vote.svg' %}" alt="Vote X"/>
                    </div>
                    <div class="col-md-3">
                        <h1>elections 24</h1>
                    </div>
                </div>
            </a>
        </div>

         {# Page Contents #}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            {% block content %}
                <h2>{{ title }}</h2>
                <hr>
            {% endblock %}
        </div>
        
       
        {# Footer #}
        <br><hr>
        <div id="footer" class="container" style="text-align: center;font-size:14px">
            {% block footer %}
                <div>
                    Copyright &copy; {% now "Y" %} Robert Smith
                </div>
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block scripts %}
            {% bootstrap_script use_min=True %}
            {% bootstrap_javascript %}
		{% endblock %}
    </body>
</html>
